.resultado-container {
    padding: 20px;
    text-align: center;

    h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .card {
        background: #ffffff;
        padding: 18px;
        border-radius: 12px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
        text-align: left;
        margin-bottom: 20px;

        p {
            margin: 6px 0;
            font-size: 15px;

            strong {
                color: #1e88e5;
            }
        }
    }

    .btn-finalizar {
        width: 100%;
        padding: 12px;
        border: none;
        background: #1e88e5;
        color: white;
        font-size: 17px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            background: #1669bb;
        }
    }
}