<div class="menu-ayuda-container">

    <h2>Buen día, ¿cómo podemos ayudarte?</h2>

    <div class="opciones">
        <button class="opcion-btn" (click)="seleccionar('reporte-categorias')">📋 Generar reporte</button>
        <button class="opcion-btn" (click)="seleccionar('atencion')">☎️ Atención a clientes</button>
        <button class="opcion-btn" (click)="seleccionar('pagos')">💳 Cómo hacer pagos</button>
        <button class="opcion-btn" (click)="seleccionar('consulta-folio')">🔍 Consultar reporte</button>
    </div>

</div>